body{
    overflow-x: hidden;
    background: url("IMAGES/bg1.jpg");

    background-color: rgb(4,18,64);
    background-image: url("IMAGES/bg1.jpg"), linear-gradient(rgba(255, 255, 255, 0.5),rgba(0,0,0,0.1));
    background-blend-mode: overlay;
    background-size: cover;

    color: rgb(1, 89, 140);
}



.header{
    padding: 2rem;
    text-align: center;
    color: rgb(138, 149, 211);
}

form{
    color: aliceblue;
    width: 40%;
}

.cardheader{
    margin-bottom: 1rem;
}

.login a{
    color:rgb(212, 224, 227);
    list-style: none;
    text-decoration: none;
}

.login a:hover{
    color: black;
}

.primaryAction{
    padding: .6rem;
    background-color: rgb(74, 88, 246);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 2rem;
    width:100%;
    margin-top: 1rem;
    transition: .3s;
}

.primaryAction:hover{
    background-color: rgb(7, 71, 189);
    transform: scale(1.1);
}