{% extends 'base.html' %}

{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'chatbot.css' %}" />
<script src="{% static 'chatbot.js' %}"></script>
{% endblock style %}


{% block content %}
<form action="">
<div class="glass">
    <h1 class="header">Ask Your Question about MCA.</h1>
    <h2 class="question">"Hello"</h2>
    <div class="input">
        <input
        type="text"
        id="userBox"
        onkeydown="if(event.keyCode == 13){ talk()}"
        placeholder="Type your Question"
        />
    </div>
    <p id="chatLog">Answer </p>
    <button class="btn" type="submit">Send</button>
</div>


</form>
{% endblock %}
